<div class="row">
  <div class="col-md-6">
    <div class="button-box" ></div>
    <div class="button-box" ><button class="btn-primary" (pointerdown)="sendMn()" (pointerup)="sendQ()"><fa-icon icon="arrow-up" size="3x"></fa-icon></button> </div>
    <div class="button-box" ></div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="button-box" ><button class="btn-primary"   (pointerdown)="sendMw()" (pointerup)="sendQ()" ><fa-icon icon="arrow-left" size="3x"></fa-icon></button> </div>
    <div class="button-box" ><button class="btn-danger"   (pointerdown)="sendQ()"><fa-icon  icon="ban" size="3x"></fa-icon></button> </div>
    <div class="button-box" ><button class="btn-primary"  (pointerdown)="sendMe()" (pointerup)="sendQ()" ><fa-icon icon="arrow-right" size="3x"></fa-icon></button> </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="button-box" ></div>
    <div class="button-box" ><button class="btn-primary" (pointerdown)="sendMs()" (pointerup)="sendQ()"><fa-icon icon="arrow-down" size="3x"></fa-icon></button> </div>
    <div class="button-box" ></div>
  </div>
</div>
