<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">
    <img src="/logo.svg" width="44" height="64"/>
    <span style="width: 20px;display: inline-block;"></span>
  </a>
  <div class="navbar-nav">
    <p class="nav-link">Bem vindo ao FireWifi</p>
  </div>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto" id="navbarmenu">
      <li class="nav-item dropdown active" ngbDropdown>
        <a class="nav-link" routerLink="/controle">
          <i class="fa fa-home" aria-hidden="true"></i>Controle
        </a>
      </li>
    </ul>
  </div>
</nav>
